@model mvcdemo.Models.Contact

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <h2>Contact Info</h2>
    @Model.Name
    <br />
    @Model.Email
    <br />
    @Model.Mobile
</body>
</html>
