@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wish</title>
</head>
<body>
    <h1 style="color:red">@ViewBag.Message</h1>
</body>
</html>
