@model mvcdemo.Models.CurrencyModel

@{
    Layout = "~/Views/Shared/master.cshtml";
    ViewBag.Title = "Currency Conversion";
}

<h2>Currency Conversion</h2>
@using (Html.BeginForm())
{
    <Div>Amount in INR</Div>
    @Html.EditorFor(model => model.Amount)
    <p></p>
    <Div>Target Currency</Div>
    @Html.DropDownList("Target", Model.TargetCurrency)
    <p></p>
    <input type="submit" value="Convert" />

    <h3>Result : @Model.Result</h3>
}


