body {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family :Calibri;
    font-size:11pt;
}

.banner {
    font-size:20pt;
    font-family:Arial;
    font-weight:bold;
    background-color:red;
    color:white;
    letter-spacing:5pt;
}

.menu {
    font-size: 11pt;
    font-family: Calibri;
    font-weight: bold;
    background-color: silver;
}

.tabheading {
    font-weight: bold;
    color:white;
    background-color: navy;
}