
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        Password : <input type="password" name="password" />
        <input type="submit" value="Login" />
    </form>
    <h3>@ViewBag.Message</h3>
</body>
</html>
